header {
    color: blue;
    margin-bottom: 10px;
}

div {
    font-style: italic;
}

p {
    color: teal;
}

.input-field {
    color: red;
}

#email-address-input {
    color: orange;
}