header {
    color: blue;
    margin-bottom: 10px;
}

div {
    font-style: italic;
}

p {
    color: teal;
}

$width: 120px;

.input-field {
    color: red;
    background-color: black;
    width: $width;
}

#email-address-input {
    color: orange;
}